{% extends "blog/base.html" %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}
	<h2>You have been logged out</h2>
<!-- 	<div class="content-section"> -->
	<!-- 	<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign Up</button>
			</div>
		</form> -->
		<div class="border-top pt-3">
			<small class="text-muted">
				 <a href="{% url 'login' %}">Log In Again</a>
			</small>
		</div>
<!-- 	</div> -->
{% endblock content %}





